<template>
    <div class="container">
        <div class="row" @dragover="onDrag" @dragend="onDragEnd" @drop="onDrop" @dragleave="onDragLeave" style="background:teal;">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading" id="accordion">
                        {{ user.name }}
                    </div>
                    <div class="panel-collapse" id="collapseOne">
                        <div class="panel-body">
                            <div class="media" v-for="message in messages">
                                <div class="media-left">
                                    <img src="http://placehold.it/50/55C1E7/fff&amp;text=U" alt="User Avatar"
                                         class="img-circle media-object" style="width:60px">
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">
                                        <strong class="primary-font"> @{{message.name}}</strong>
                                    </h4>
                                    <p>{{message.message}}</p>
                                    <div v-if="message.attachment">
                                        <a :href="message.attachment" target="_blank">Attachment</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                            <div class="panel-footer">
                                <div class="input-group">
                                    <input :id="user.id" v-model="newMessage"
                                           v-on:keyup.enter="sendMessage" type="text" class="form-control input-md"
                                           placeholder="Type your message here..."/>
                                    <span class="input-group-btn"><button :id="user.id"
                                                                          class="btn btn-warning btn-md"
                                                                          v-on:click="sendMessage">
                                   Send</button></span>
                                </div>
                                <div class="panel-footer">
                                    <h4>Drop/Select File For Sharing</h4>
                                    <div class="dropzone" v-if="dropzoneVisible">
                                        <h3 class="text-primary">Drop file here</h3>
                                    </div>
                                    <div>
                                        <form  action="" method="post" enctype="multipart/form-data" id="chatForm" >
                                            <input type="file" name="attachment" id="attachment" style="">
                                            <input type="hidden" name="_token" v-model="token">
                                            <input type="submit" style="display:none;">
                                        </form>
                                    </div>
                                </div>
                            </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>


    import VueResource from "vue-resource"

    import Echo from "laravel-echo"

    import Pusher from "pusher-js"

    import axios from 'axios'

    window.Echo = new Echo({

        broadcaster: 'pusher',
        key: 'fc5450af516fe173e288',
        cluster: 'us2',
        encrypted: true

    });


    export default {
        mounted() {
//            console.log('Component mounted.')
        },

        data() {

            return {
                messages: [],

                user: window.user,

                newMessage: null,

                chatStatus: 0,

                errors:[],

                attachment: null,
                token: $('meta[name="csrf-token"]').attr('content'),
                dropzoneVisible:false
            };

        },

        created() {


            window.Echo.channel('chat-messages')

                .listen('.ChatMessage', (e) => {

                    console.log(e);
                    this.messages.push(e.message);

//                    this.userId = e.user.sourceuserid;
//
//                    if (this.chats[this.userId]) {
//
//                        this.show = 1;
//
//                        this.$set(app.chats[this.userId], this.chatCount[this.userId], e.user);
//
//                        this.chatCount[this.userId]++;
//
//                        console.log("pusher");
//
//                        console.log(this.chats[this.userId]);
//
//                    } else {
//
//                        this.createChatWindow(e.user.sourceuserid, e.user.name);
//
//                        this.$set(app.chats[this.userId], this.chatCount[this.userId], e.user);
//
//                        this.chatCount[this.userId]++;
//
//                    }

                });

        },

        http: {

            headers: {

                'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')

            }

        },

        methods: {

            sendMessage(event) {


                var formData = new FormData();
                var imagefile = document.querySelector('#attachment');
                formData.append("id", this.user.id);
                formData.append("name", this.user.name);
                formData.append("message", this.newMessage);
                formData.append("attachment", imagefile.files[0]);
                axios.post('chat', formData, {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                })

                        .then(response => {
                    this.newMessage = '';
                let form = document.getElementById('chatForm');
                form.reset();
                    console.log('success');
                })
            .catch(e => {
                    this.errors.push(e)
            })


                //////////////////////////////////////////////////////////////////////////////


//                    this.messages.push(e.message);

//                    this.$set(app.chats[this.userId], this.chatCount[this.userId], {
//
//                        "message": message,
//
//                        "name": window.username
//
//                    });

//                    this.chatCount[this.userId]++;


            },

            onDrag(e){
                this.dropzoneVisible=true;
                //console.log('Drag');
                e.preventDefault();
            },
            onDrop(e){
                let file = e.dataTransfer.files;
                e.preventDefault();
                //console.log(e);
//                this.attachment = file.name;

                let fileInput = document.getElementById('attachment');
                fileInput.files = file;
                this.dropzoneVisible = false;
            },
            onDragLeave(e)
            {
                console.log("Leave");
                console.log(e);
                if(e.fromElement.className != 'dropzone')
                {
                this.dropzoneVisible = false;

                }
            },

            onDragEnd(e)
            {
                console.log("end");
            },



        }//methods
    }



</script>
