.wrap {
  width: 90%;
}

.about-bottom p.tag-line {
  color: #fff;
}

.login-form {
  padding: 30px 40px;
}

.login-form .registerbtn {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 4px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
}

.login-form .loginbtn {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 4px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
}

.register-form tr td input[type="text"],
.register-form tr td input[type="email"],
.register-form tr td input[type="password"],
.register-form tr td input[type="number"],
.register-form tr td input[type="file"] {
  width: 100%;
  padding: 0.7em;
  margin: 0.4em 0 0;
  background: none;
  outline: none;
  border: 1px solid #D1D1D1;
  border-radius: 3px;
  -webkit-appearance: none;
}

.register-form tr td select {
  width: 100%;
  padding: 0.7em;
  margin: 0.4em 0 0;
  background: none;
  outline: none;
  border: 1px solid #D1D1D1;
  border-radius: 3px;
}

.register-form tr td textarea {
  width: 100%;
  padding: 1.7em;
  margin: 0.4em 0 0;
  background: none;
  outline: none;
  border: 1px solid #D1D1D1;
  border-radius: 3px;
  -webkit-appearance: none;
}

.register-form .registerbtn {
  color: #fff;
  font-size: 1.1em;
  border: none;
  width: 30%;
  outline: none;
  border-radius: 5px;
  font-weight: 600;
  padding: 0.5em 1em;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  background-color: #fc5e35;
}

.register-form .select2-selection__choice__remove {
  color: #ffffff !important;
}

.register-form .select2-selection__choice {
  background-color: #3c8dbc !important;
}

.register-form .select2-container {
  padding-top: 5px !important;
}

.about-section {
  padding: 5%;
}

.about-section .about {
  margin-bottom: auto;
}

.about-section .w3ls {
  padding: 6em 0px 0px;
}

.navbar .navbar-style {
  padding-left: 7% !important;
}

.cssmenu ul li a {
  margin: auto;
}

.cssmenu .open > .dropdown-menu {
  min-width: 110px;
}

.cssmenu ul li a.text {
  color: #000000;
}

.dropdown-menu > li > a {
  padding: 1px 2px;
}

.dropdown {
  width: auto;
}

.dropdown ul {
  width: auto;
  top: 55px;
  left: 64px;
}

.dropdown ul li {
  padding: 1px 6px;
  overflow: initial;
  border-bottom: initial;
}

.header-bottom .primary-link {
  /* All main links in the navbar */
  text-decoration: none;
}

.header-bottom .primary-link:hover {
  /* Main links hover state */
}

.header-bottom .secondary-list {
  width: 15.3em;
}

.header-bottom .secondary-list li:hover {
  padding: 0;
  background: #22B14C;
}

.header-bottom .secondary-link {
  /* All secondary links in the navbar */
  text-decoration: none;
  color: #000000;
}

.header-bottom .secondary-link:hover {
  /* Secondary links hover state */
  background: #22B14C;
}

.hvr-shutter-in-vertical2 {
  width: 45%;
  float: initial;
  border: none;
}

.delete-file {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.form-container {
  padding: 50px 0px;
}

.disclaimer-content .disclaimer-form-content {
  padding: 50px;
  text-align: center;
}

.disclaimer-content .disclaimer-form-content .disclaimer-form {
  background: #FAFAFA;
  padding: 50px;
  border: 1px solid #ccc;
}

.disclaimer-content .disclaimer-form-content .disclaimer-form .bottom {
  padding-bottom: 10px;
}

.disclaimer-content .disclaimer-form-content .disclaimer-form .btnsubmit {
  padding: 10px 35px;
}

.uploadform td {
  padding: 5px;
}

.uploadform h3 {
  color: #2E3490;
  font-weight: 500;
  background-color: #F9F0D1;
  padding: 10px;
  border-radius: 3px;
  text-align: center;
}

.uploadform input[type="text"] {
  width: 100%;
  padding: 0.7em;
  margin: 0.4em 0 0;
  background: none;
  outline: none;
  border: 1px solid #D1D1D1;
  border-radius: 3px;
  -webkit-appearance: none;
}

.uploadform input[type="file"] {
  splay: block;
  width: 100%;
  padding: 0.7em;
  margin: 0.4em 0 0;
  background: none;
  outline: none;
  border: 1px solid #D1D1D1;
  border-radius: 3px;
  -webkit-appearance: none;
}

.uploadform input[type="submit"] {
  width: 45%;
  position: relative;
  left: 39.5%;
  color: #fff;
  font-size: 1.1em;
  border: none;
  outline: none;
  border-radius: 3px;
  font-weight: 600;
  padding: 0.5em 1em;
  -webkit-transition: 0.5s all;
}

.uploadform .hint {
  background-color: #D9EDF7;
  padding: 5px;
  margin-top: 5px;
  border-radius: 3px;
}

.uploadform .form-textarea {
  width: 100%;
  padding: 0.7em;
  margin: 0.4em 0 0;
  background: none;
  outline: none;
  border: 1px solid #D1D1D1;
  border-radius: 3px;
  -webkit-appearance: none;
}

.uploadform .categories-dropdown {
  width: 100%;
  height: auto;
  padding: 0.7em;
  margin: 0.4em 0 0;
  background: none;
  outline: none;
  border: 1px solid #D1D1D1;
  border-radius: 3px;
}

.contact h3 {
  text-align: center;
}

.wel {
  float: left;
  font-size: 1em;
  font-style: italic;
  margin-top: 0.5em;
  padding-left: 40px;
  padding-top: 18px;
}

.contact-top div input[type="email"] {
  width: 100%;
  padding: 0.7em;
  margin: 0.4em 0 0;
  background: none;
  outline: none;
  border: 1px solid #D1D1D1;
  border-radius: 8px;
  -webkit-appearance: none;
}

.cadmodel-content .top-in-single {
  padding-top: 19px;
}

.cadmodel-content .top-in-single .single-top img {
  border: 1px solid #ccc;
}

.cadmodel-content .top-in-single .single-top-in .member-container {
  text-align: left;
  position: relative;
  margin: 10px 0px 0 0;
}

.cadmodel-content .top-in-single .single-top-in .member-container .member-content-container {
  position: relative;
  font-size: 100% !important;
}

.cadmodel-content .top-in-single .single-top-in .member-container .member-content-container .member-content-container-header {
  position: relative;
  padding: 9px;
  background-color: #e5e6e7;
  border: 1px solid #d1d5d7;
  color: #464647;
  font-family: Arial,"sans-serif" !important;
  font-size: 14px !important;
  font-weight: 600;
}

.cadmodel-content .top-in-single .single-top-in .member-container .member-content-container .member-content-container-body {
  position: relative;
  padding: 10px;
  background-color: #fff;
  border-left: 1px solid #d1d5d7;
  border-right: 1px solid #d1d5d7;
  border-bottom: 1px solid #d1d5d7;
  font-family: Arial,"sans-serif";
  color: #6d6e71;
}

.cadmodel-content .top-in-single .single-top-in .member-container .member-content-container .member-content-container-body .member-detail img {
  width: 100px;
  height: 100px;
}

.cadmodel-content .top-in-single .single-top-in .member-container .member-content-container .member-content-container-body .bottomRight_viewprofile {
  background-color: Transparent;
  padding: 5px 8px;
  bottom: 140px;
  float: right;
  position: relative;
}

.cadmodel-content .top-in-single .single-top-in .member-container .member-content-container .member-content-container-body .bottomRight_viewprofile .profile_link {
  color: #628dc0;
  text-decoration: none;
  font-weight: normal;
  text-align: left;
}

.cadmodel-content .top-in-single .single-top-in .comments-section .media-body .rating-text {
  position: absolute;
  right: 15px;
}

.cadmodel-content .top-in-single .single-top-in .comments-section .media-body p {
  padding: 0.5em 0;
  line-height: initial;
}

.cadmodel-content .top-in-single .single-top-in .comments-section .media-body h4 {
  font-size: 1.2em;
  color: #747272;
  line-height: 1.5em;
  font-weight: 600;
}

.cadmodel-content .top-in-single .single-top-in .nav li {
  border: 1px solid #ccc;
}

.cadmodel-content .top-in-single .single-top-in .nav .nav-tabs li.active {
  background-color: #F6EDCE;
}

.cadmodel-content .top-in-single .single-top-in #rating {
  padding-top: 10px;
}

.cadmodel-content .top-in-single .single-top-in #rating a {
  color: #337ab7;
}

.cadmodel-content .top-in-single .product-details {
  width: 321px;
  padding-top: 14px;
}

.cadmodel-content .top-in-single .product-details .product-content-container-header {
  position: relative;
  padding: 9px;
  background-color: #e5e6e7;
  border: 1px solid #d1d5d7;
  color: #464647;
  font-family: Arial,"sans-serif" !important;
  font-size: 14px !important;
  font-weight: 600;
}

.cadmodel-content .top-in-single .product-details .product-details > .product-content-container-body {
  overflow: hidden;
}

.cadmodel-content .top-in-single .product-details .product-content-container-body {
  position: relative;
  padding: 10px;
  background-color: #fff;
  border-left: 1px solid #d1d5d7;
  border-right: 1px solid #d1d5d7;
  border-bottom: 1px solid #d1d5d7;
  font-family: Arial,"sans-serif";
  color: #6d6e71;
}

.cadmodel-content .top-in-single .product-details table td.col1 {
  padding-right: 10px;
  white-space: nowrap;
  width: 1px;
}

.cadmodel-content .top-in-single .product-details table td {
  vertical-align: top;
}

.cadmodel-content .top-in-single .miscellaneous {
  padding-left: 15px;
}

.comment-form-content {
  padding: 50px 5px;
}

.comment-form-content .form-inputs {
  padding: 10px;
}

.comment-form-content .stars-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.comment-form-content div.stars {
  width: 270px;
  display: inline-block;
}

.comment-form-content input.star {
  display: none;
}

.comment-form-content label.star {
  float: right;
  padding: 10px;
  font-size: 20px;
  color: #444;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.comment-form-content input.star:checked ~ label.star:before {
  content: '\F005';
  color: #FD4;
  -webkit-transition: all .25s;
  transition: all .25s;
}

.comment-form-content input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}

.comment-form-content input.star-1:checked ~ label.star:before {
  color: #F62;
}

.comment-form-content label.star:hover {
  -webkit-transform: rotate(-15deg) scale(1.3);
          transform: rotate(-15deg) scale(1.3);
}

.comment-form-content label.star:before {
  content: '\F006';
  font-family: FontAwesome;
}

.contributors-content {
  padding: 10px;
}

.contributors-content .contributor-page-header {
  padding-bottom: 20px;
  padding-left: 20px;
  color: #2E3490;
  text-align: center;
  padding-top: 20px;
  color: #2E3490;
  display: -ms-flexbox;
  background-color: #F8EFD0;
  margin-top: 20px;
  border-radius: 5px;
}

.contributors-content .profile-thumbnail {
  padding-top: 15px;
}

.contributors-content .profile-thumbnail .media {
  border: 2px solid #dedede;
  padding: 8px;
}

.contributors-content .profile-thumbnail .media .media-left img {
  height: 100px;
  width: 100px;
}

.contributors-content .profile-thumbnail .media .media-body .thumbnail-detail {
  margin: 15px 20px;
}

.contributors-content .profile-thumbnail .media .media-body .thumbnail-detail a {
  color: #337ab7;
}

.contributors-content .no-contributors-text {
  padding-left: 25px;
  color: red;
  font-size: 20px;
}

.contributor-profile-content {
  padding: 30px;
}

.contributor-profile-content .profile-sidebar {
  background-color: #FAFAFA;
  padding: 13px 13px;
  border: 1px solid #ccc;
}

.contributor-profile-content .profile-sidebar p {
  padding: 3px 0;
}

.contributor-profile-content .profile-sidebar .profile-contribution .blueHeading {
  padding-bottom: 5px;
  color: #2E3480;
}

.contributor-profile-content .contributions .contribution-header {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #FAFAFA;
  height: 50px;
}

.contributor-profile-content .contributions .contribution-header .contribution-heading {
  padding: 18px;
}

.contributor-profile-content .contributions .contribution-header .contribution-categories {
  padding: 10px;
}

.contributor-profile-content .contributions .contribution-content {
  padding: 15px 5px;
}

.contributor-profile-content .contributions .contribution-content .contributor-model .model-image {
  width: 145px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.contributor-profile-content .contributions .contribution-content .contributor-model .model-image img {
  border: 1px solid #ccc;
}

.contributor-profile-content .contributions .contribution-content .contributor-model .model-name {
  width: 145px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.user-dashboard-content .user-dashboard-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #F8EFD0;
  height: 105px;
  margin-top: 20px;
  border-radius: 5px;
}

.user-dashboard-content .user-dashboard-header h3 {
  padding: 45px;
  color: #2E3490;
}

.user-dashboard-content .user-dashboard-header .user-dashboard-detail {
  padding: 10px;
}

.user-dashboard-content .user-dashboard-header .user-dashboard-detail .user-detail {
  text-align: left;
  position: relative;
  float: left;
  padding: 10px;
}

.user-dashboard-content .user-dashboard-header .user-dashboard-detail .user-detail .detail {
  padding-bottom: 11px;
}

.user-dashboard-content .user-dashboard-header .user-dashboard-detail .user-detail .detail a {
  text-decoration: underline;
  color: #0645AD;
}

.user-dashboard-content .user-dashboard-header .user-dashboard-detail img {
  width: 90px;
  height: 90px;
  border: 1px solid #6d6e71 !important;
}

.user-dashboard-content .user-dashboard-contributions {
  padding-top: 20px;
}

.user-dashboard-content .user-dashboard-contributions .user-dashboard-contribution-header {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #FAFAFA;
  height: 50px;
}

.user-dashboard-content .user-dashboard-contributions .user-dashboard-contribution-header .contribution-heading {
  padding: 18px;
}

.user-dashboard-content .user-dashboard-contributions .user-dashboard-contribution-header .contribution-categories {
  padding: 10px;
}

.user-dashboard-content .user-dashboard-contributions .user-dashboard-contribution-content {
  padding: 10px 0;
}

.user-dashboard-content .user-dashboard-contributions .user-dashboard-contribution-content .contributor-model .model-image {
  width: 150px;
  position: relative;
}

.user-dashboard-content .user-dashboard-contributions .user-dashboard-contribution-content .contributor-model .model-image img {
  border: 1px solid #ccc;
}

.user-dashboard-content .user-dashboard-contributions .user-dashboard-contribution-content .contributor-model div.model-image:hover button {
  display: block;
}

.user-dashboard-content .user-dashboard-contributions .user-dashboard-contribution-content .contributor-model div.model-image button {
  position: absolute;
  display: none;
}

.user-dashboard-content .user-dashboard-contributions .user-dashboard-contribution-content .contributor-model div.model-image button.edit {
  top: 0;
  left: 0;
}

.user-dashboard-content .user-dashboard-contributions .user-dashboard-contribution-content .contributor-model div.model-image button.delete {
  top: 0;
  right: 0;
}

.user-dashboard-content .user-dashboard-contributions .user-dashboard-contribution-content .contributor-model .model-name {
  width: 145px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.user-dashboard-content .user-dashboard-comments {
  padding-top: 20px;
}

.user-dashboard-content .user-dashboard-comments .user-dashboard-comment-header {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #FAFAFA;
  height: 50px;
}

.user-dashboard-content .user-dashboard-comments .user-dashboard-comment-header .comment-heading {
  padding: 18px;
}

.user-dashboard-content .user-dashboard-comments .user-dashboard-comment-header .comment-categories {
  padding: 10px;
}

.user-dashboard-content .user-dashboard-comments .user-dashboard-comment-content {
  padding: 10px 0;
}

.user-dashboard-content .user-dashboard-comments .user-dashboard-comment-content .comment {
  padding: 15px 30px;
}

.user-dashboard-content .user-dashboard-comments .user-dashboard-comment-content .comment a {
  color: #337ab7;
}

.edit-profile-content {
  padding: 40px;
}

.edit-profile-content .header {
  padding: 0 10px;
}

.edit-profile-content .header h2 {
  color: #2E3490;
}

.edit-profile-content .form-inputs {
  padding: 25px;
}

.edit-profile-content .form-submit {
  padding: 0 10px;
}

.edit-profile-content .btnsubmit {
  padding: 10px 35px;
}

.dropzone {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px dotted teal;
}

.payment-form-content {
  padding: 20px 0 0;
  /**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
}

.payment-form-content .StripeElement {
  background-color: white;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  -webkit-box-shadow: 0 1px 3px 0 #e6ebf1;
          box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  -webkit-transition: -webkit-box-shadow 150ms ease;
  transition: -webkit-box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease, -webkit-box-shadow 150ms ease;
}

.payment-form-content .StripeElement--focus {
  -webkit-box-shadow: 0 1px 3px 0 #cfd7df;
          box-shadow: 0 1px 3px 0 #cfd7df;
}

.payment-form-content .StripeElement--invalid {
  border-color: #fa755a;
}

.payment-form-content .StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.payment-form-content .bottom-padding {
  padding-bottom: 45px;
  padding-top: 30px;
}

.payment-form-content .payment-form {
  padding: 45px 45px;
  border: 2px solid #ccc;
}

.payment-form-content .payment-form h2 {
  padding: 25px 15px;
}

.payment-form-content .payment-form .paypal-heading {
  padding-bottom: 15px;
}

