
// Variables
@import "variables";

.wrap{
  width:90%;
}

.about-bottom p.tag-line{
  color:#fff;
}

.login-form {
  padding: 30px 40px;

  .registerbtn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 4px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
  }

  .loginbtn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 4px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
  }

}

.register-form{

 tr
 {
   td{
     input[type="text"],input[type="email"],input[type="password"],input[type="number"],input[type="file"]
     {
       width: 100%;
       padding: 0.7em;
       margin: 0.4em 0 0;
       background: none;
       outline: none;
       border: 1px solid #D1D1D1;
       border-radius: 3px;
       -webkit-appearance: none;
     }
     select
     {
       width: 100%;
       padding: 0.7em;
       margin: 0.4em 0 0;
       background: none;
       outline: none;
       border: 1px solid #D1D1D1;
       border-radius: 3px;
     }
     textarea
     {
       width: 100%;
       padding: 1.7em;
       margin: 0.4em 0 0;
       background: none;
       outline: none;
       border: 1px solid #D1D1D1;
       border-radius: 3px;
       -webkit-appearance: none;
     }


   }
 }

  .registerbtn{
    color: #fff;
    font-size: 1.1em;
    border: none;
    width: 30%;
    outline: none;
    border-radius: 5px;
    font-weight: 600;
    padding: 0.5em 1em;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    background-color: rgb(252,94,53);
  }

  .select2-selection__choice__remove{
    color:#ffffff !important;
  }

  .select2-selection__choice{
    background-color:#3c8dbc !important;
  }

  .select2-container{
    padding-top: 5px !important;
  }

}

.about-section{
  padding:5%;

  .about{
    margin-bottom:auto;
  }
  .w3ls{
    padding:6em 0px 0px;
  }

}

.navbar .navbar-style{
  padding-left:7% !important;
}

.cssmenu ul li a {
  margin: auto;
}

.cssmenu  .open > .dropdown-menu {
  min-width:110px;
}

.cssmenu ul li a.text{
  color:#000000;
}

.dropdown-menu > li > a{
  padding: 1px 2px;
}

.dropdown{
  width:auto;

}

.dropdown ul {
  width:auto;
  top: 55px;
  left: 64px;

  li{
    padding:1px 6px;
    overflow: initial;
    border-bottom: initial;
  }
}

.header-bottom{

      .primary-link {
        /* All main links in the navbar */
        text-decoration: none;

      }
      .primary-link:hover {
        /* Main links hover state */
        //border-bottom: 5px solid #22B14C;
      }
      .secondary-list{
        width: 15.3em;
      }
      .secondary-list li:hover {
        padding:0;
        background: #22B14C;
      }
      .secondary-link {
        /* All secondary links in the navbar */
        text-decoration: none;
        color: #000000;
      }
      .secondary-link:hover {
        /* Secondary links hover state */
        background: #22B14C;
      }

}

.hvr-shutter-in-vertical2 {
  width: 45%;
  float:initial;
  border:none;
}

.delete-file{
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.form-container{
  padding: 50px 0px;
}

.disclaimer-content{
    .disclaimer-form-content{
        padding: 50px;
        text-align: center;
        .disclaimer-form{
          background: #FAFAFA;
          padding: 50px;
          border: 1px solid #ccc;

          .bottom{
            padding-bottom: 10px;
          }

          .btnsubmit{
            padding: 10px 35px;
          }
        }
    }
}

.uploadform{

  td{
    padding:5px;

  }

  h3{
    color: #2E3490;
    font-weight: 500;
    background-color: #F9F0D1;
    padding: 10px;
    border-radius: 3px;
    text-align: center;
  }

  input[type="text"]{
    width: 100%;
    padding: 0.7em;
    margin: 0.4em 0 0;
    background: none;
    outline: none;
    border: 1px solid #D1D1D1;
    border-radius: 3px;
    -webkit-appearance: none;
  }
  input[type="file"]{
    splay: block;
    width: 100%;
    padding: 0.7em;
    margin: 0.4em 0 0;
    background: none;
    outline: none;
    border: 1px solid #D1D1D1;
    border-radius: 3px;
    -webkit-appearance: none;
  }
  input[type="submit"] {
     width: 45%;
     position: relative;
     left: 39.5%;
     color: #fff;
     font-size: 1.1em;
     border: none;
     outline: none;
     border-radius: 3px;
     font-weight: 600;
     padding: 0.5em 1em;
     -webkit-transition: 0.5s all;
  }

  .hint{
    background-color: #D9EDF7;
    padding: 5px;
    margin-top: 5px;
    border-radius: 3px;
  }

  .form-textarea{
    width: 100%;
    padding: 0.7em;
    margin: 0.4em 0 0;
    background: none;
    outline: none;
    border: 1px solid #D1D1D1;
    border-radius: 3px;
    -webkit-appearance: none;
  }

  .categories-dropdown{
    width: 100% ;
    height: auto;
    padding: 0.7em;
    margin: 0.4em 0 0;
    background: none;
    outline: none;
    border: 1px solid #D1D1D1;
    border-radius: 3px;
  }
}

.contact h3{
  text-align:center;
}

.wel{
  float: left;
  font-size: 1em;
  font-style: italic;
  margin-top: 0.5em;
  padding-left: 40px;
  padding-top: 18px;
}

.contact-top div input[type="email"] {
  width: 100%;
  padding: 0.7em;
  margin: 0.4em 0 0;
  background: none;
  outline: none;
  border: 1px solid #D1D1D1;
  border-radius: 8px;
  -webkit-appearance: none;
}

.cadmodel-content{

  .top-in-single{

    padding-top: 19px;

    .single-top img{
      border: 1px solid #ccc;
    }

    .single-top-in .member-container{

        text-align: left;
        position: relative;
        margin: 10px 0px 0 0;

        .member-content-container{
          position: relative;
          font-size: 100% !important;

          .member-content-container-header{
            position: relative;
            padding: 9px;
            background-color: #e5e6e7;
            border: 1px solid #d1d5d7;
            color: #464647;
            font-family: Arial,"sans-serif" !important;
            font-size: 14px !important;
            font-weight: 600;
          }

          .member-content-container-body{
            position: relative;
            padding: 10px;
            background-color: #fff;
            border-left: 1px solid #d1d5d7;
            border-right: 1px solid #d1d5d7;
            border-bottom: 1px solid #d1d5d7;
            font-family: Arial,"sans-serif";
            color: #6d6e71;
            .member-detail{
              img{
                width: 100px;
                height: 100px;
              }

            }
            .bottomRight_viewprofile{
              background-color: Transparent;
              padding: 5px 8px;
              bottom: 140px;
              float: right;
              position: relative;

              .profile_link{
                color: #628dc0;
                text-decoration: none;
                font-weight: normal;
                text-align: left;
              }


            }
          }


        }
    }

    .single-top-in{
      .comments-section{
        .media-body{
          .rating-text{
            position: absolute;
            right: 15px;
          }
          p{
            padding: 0.5em 0;
            line-height: initial;
          }
          h4{
            font-size: 1.2em;
            color: #747272;
            line-height: 1.5em;
            font-weight: 600;
          }
        }
      }

      .nav {
        li{
          border: 1px solid #ccc;
        }
        .nav-tabs li.active{
          background-color: #F6EDCE;
        }
      }

      #rating{
        padding-top: 10px;
        a{
          color: #337ab7;
        }
      }

    }

    .product-details{
      width: 321px;
      padding-top: 14px;

      .product-content-container-header {
        position: relative;
        padding: 9px;
        background-color: #e5e6e7;
        border: 1px solid #d1d5d7;
        color: #464647;
        font-family: Arial,"sans-serif" !important;
        font-size: 14px !important;
        font-weight: 600;
      }

      .product-details > .product-content-container-body {
        overflow: hidden;
      }

      .product-content-container-body {
        position: relative;
        padding: 10px;
        background-color: #fff;
        border-left: 1px solid #d1d5d7;
        border-right: 1px solid #d1d5d7;
        border-bottom: 1px solid #d1d5d7;
        font-family: Arial,"sans-serif";
        color: #6d6e71;
      }

      table td.col1 {
        padding-right: 10px;
        white-space: nowrap;
        width: 1px;
      }

      table td {
        vertical-align: top;
      }
    }

    .miscellaneous{
      padding-left:15px;
    }


  }



}

.comment-form-content{
  padding: 50px 5px;

  .form-inputs{
    padding: 10px;
  }
  .stars-container{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
  }

  div.stars {
    width: 270px;
    display: inline-block;
  }

  input.star { display: none; }

  label.star {
    float: right;
    padding: 10px;
    font-size: 20px;
    color: #444;
    transition: all .2s;
  }

  input.star:checked ~ label.star:before {
    content: '\f005';
    color: #FD4;
    transition: all .25s;
  }

  input.star-5:checked ~ label.star:before {
    color: #FE7;
    text-shadow: 0 0 20px #952;
  }

  input.star-1:checked ~ label.star:before { color: #F62; }

  label.star:hover { transform: rotate(-15deg) scale(1.3); }

  label.star:before {
    content: '\f006';
    font-family: FontAwesome;
  }
}

.contributors-content{
   padding: 10px;

  .contributor-page-header{
    padding-bottom: 20px;
    padding-left: 20px;
    color: #2E3490;
    text-align: center;
    padding-top: 20px;
    color: #2E3490;
    display: -ms-flexbox;
    background-color: #F8EFD0;
    margin-top: 20px;
    border-radius: 5px;
  }
  .profile-thumbnail{
    padding-top: 15px;
      .media{
        border: 2px solid #dedede;
        padding: 8px;

        .media-left{
          img{
            height:100px;
            width:100px
          }

        }

        .media-body{
          .thumbnail-detail{
            margin: 15px 20px;
            a{
              color: #337ab7;
            }

          }
        }
      }
  }
  .no-contributors-text{
    padding-left: 25px;
    color: red;
    font-size: 20px;
  }
}

.contributor-profile-content{
    padding:30px;

   .profile-sidebar{
     background-color:#FAFAFA;
     padding: 13px 13px;
     border: 1px solid #ccc;
     p{
       padding:3px 0;
     }

     .profile-contribution{
       .blueHeading{
         padding-bottom:5px;
         color: #2E3480;
       }
     }
   }

   .contributions{

     .contribution-header{
       border-bottom: 1px solid #ccc;
       border-top: 1px solid #ccc;
       display: flex;
       justify-content: space-between;
       background-color: #FAFAFA;
       height: 50px;

       .contribution-heading{
            padding: 18px;
       }

       .contribution-categories{
           padding: 10px;
       }

     }

     .contribution-content{
       padding: 15px 5px;
       .contributor-model{
         .model-image{
           width:145px;
           padding-left:10px;
           padding-right:10px;
           text-align:center;

           img{
             border: 1px solid #ccc;
           }
         }
         .model-name{
           width:145px;
           padding-left:10px;
           padding-right:10px;
           text-align:center;
         }
       }

     }
   }
 }

.user-dashboard-content{
   .user-dashboard-header{
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: justify;
     -ms-flex-pack: justify;
     justify-content: space-between;
     background-color: #F8EFD0;
     height: 105px;
     margin-top: 20px;
     border-radius: 5px;

     h3{
       padding: 45px;
       color: #2E3490;
     }

     .user-dashboard-detail{
       padding: 10px;
       .user-detail{
         text-align: left;
         position: relative;
         float: left;
         padding: 10px;
         .detail{
           padding-bottom: 11px;
           a{
             text-decoration: underline;
             color: #0645AD;
           }
         }


       }
       img{
         width: 90px;
         height: 90px;
         border: 1px solid #6d6e71 !important;
       }
     }


   }
   .user-dashboard-contributions{
     padding-top: 20px;
     .user-dashboard-contribution-header{
       border-bottom: 1px solid #ccc;
       border-top: 1px solid #ccc;
       display: flex;
       justify-content: space-between;
       background-color: #FAFAFA;
       height: 50px;

       .contribution-heading{
         padding: 18px;
       }

       .contribution-categories{
         padding: 10px;
       }

     }

     .user-dashboard-contribution-content{
       padding: 10px 0;

       .contributor-model{
         .model-image{
           width: 150px;
           position: relative;
           img{
             border: 1px solid #ccc;
           }
         }
         div.model-image:hover button{
           display: block;
         }
         div.model-image button{
           position:absolute;
           display:none;
         }
         div.model-image button.edit {
           top:0;
           left:0;
         }
         div.model-image button.delete {
           top:0;
           right:0;
         }

         .model-name{
           width:145px;
           padding-left:10px;
           padding-right:10px;
           text-align:center;
         }
       }

     }
   }
   .user-dashboard-comments{
     padding-top: 20px;
     .user-dashboard-comment-header{
       border-bottom: 1px solid #ccc;
       border-top: 1px solid #ccc;
       display: flex;
       justify-content: space-between;
       background-color: #FAFAFA;
       height: 50px;

       .comment-heading{
         padding: 18px;
       }

       .comment-categories{
         padding: 10px;
       }

     }

     .user-dashboard-comment-content{
       padding: 10px 0;
       .comment{
         padding: 15px 30px;
         a{
           color: #337ab7;
         }
       }

     }
   }

 }

.edit-profile-content{
  padding: 40px;
  .header{
    padding: 0 10px;
    h2{
      color: #2E3490;
    }
  }
  .form-inputs{
    padding: 25px;
  }
  .form-submit{
    padding: 0 10px;
  }
  .btnsubmit{
    padding: 10px 35px;
  }
}

.dropzone{
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   z-index: 10;
   background: white;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 3px dotted teal;

   &.visible{


   }
 }

.payment-form-content{

  padding: 20px 0 0;
  /**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
  .StripeElement {
    background-color: white;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }

  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }

  .StripeElement--invalid {
    border-color: #fa755a;
  }

  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }

  .bottom-padding{
    padding-bottom: 45px;
    padding-top: 30px;

  }

  .payment-form{
    padding: 45px 45px;
    border: 2px solid #ccc;
    h2{
      padding:25px 15px;
    }

    .paypal-heading{
      padding-bottom: 15px;
    }
  }
}






